## Custom Rifle (for Test) ##############################################
shape_set custom_rifle
	actor = greg
	object_type = weapon
	pbr_ready = 1
	filename = custom_rifle_1.fbx
	filename = custom_rifle_1.fbx
	filename = custom_rifle_1.fbx
	filename = custom_rifle_2.fbx
	filename = custom_rifle_2.fbx
	filename = custom_rifle_3.fbx
	filename = custom_rifle_3.fbx
	shape_attachment_data = K2 rifle_joint

hand_item_appearance custom_rifle
	##type = rifle
	type = dst_rifle
	DIS_Septet_category = 32

	default_items
		item = custom_rifle
		item = small_flash

	parameters
		weapon_supplemental_data = m16



## ROK K2 Rifle ##############################################
shape_set rifle_k2
	actor = greg
	object_type = weapon
	pbr_ready = 1
	filename = k2.fbx
	filename = k2.fbx
	filename = k2.fbx
	filename = k2_lod2.fbx
	filename = k2_lod2.fbx
	filename = k2_lod3.fbx
	filename = k2_lod3.fbx
	shape_attachment_data = K2 rifle_joint

hand_item_appearance rifle_k2
	##type = rifle
	type = dst_rifle
	DIS_Septet_category = 32

	default_items
		item = rifle_k2
		item = small_flash

	parameters
		weapon_supplemental_data = m16



## ROK K2 Rifle (first person) ####################################
shape_set rifle_1st_k2
	actor = greg
	object_type = weapon
	pbr_ready = 1
	filename = 1st_k2.fbx
	filename = 1st_k2.fbx
	filename = 1st_k2.fbx
	filename = 1st_k2.fbx
	filename = 1st_k2.fbx
	filename = 1st_k2.fbx
	filename = 1st_k2.fbx
	shape_attachment_data = K2 Rifle


hand_item_appearance rifle_1st_k2
	##type = rifle
	type = dst_rifle
	DIS_Septet_category = 32

	default_items
		item = rifle_1st_k2
		item = small_flash

	parameters
		weapon_supplemental_data = m16




## ROK K5 Pistol ##############################################
shape_set pistol_k5
	actor = greg
	object_type = weapon
	pbr_ready = 1
	filename = k5.fbx
	filename = k5.fbx
	filename = k5.fbx
	filename = k5.fbx
	filename = k5.fbx
	filename = k5.fbx
	filename = k5.fbx
	shape_attachment_data = k5.fbx palm_r

hand_item_appearance pistol_k5
	DIS_Septet_category = 32
	type = handgun

	default_items
		item = pistol_k5

	parameters
		weapon_supplemental_data = m9_cc

## ROK SMG K1A 기관단총 ##############################################
shape_set smg_k1a
	actor = greg
	object_type = weapon
	pbr_ready = 1
	filename = K1A.fbx
	filename = K1A.fbx
	filename = K1A.fbx
	filename = K1A.fbx
	filename = K1A.fbx
	filename = K1A.fbx
	filename = K1A.fbx
	shape_attachment_data = K1A.fbx rifle_joint

hand_item_appearance smg_k1a
	##type = rifle
	type = dst_rifle
	DIS_Septet_category = 32

	default_items
		item = smg_k1a
		item = small_flash

	parameters
		weapon_supplemental_data = m16

## ROK K2K201 유탄발사기 ##############################################
shape_set grenadeLauncher_k2k201
	actor = greg
	object_type = weapon
	pbr_ready = 1
	filename = K2K201.fbx
	filename = K2K201.fbx
	filename = K2K201.fbx
	filename = K2K201.fbx
	filename = K2K201.fbx
	filename = K2K201.fbx
	filename = K2K201.fbx
	shape_attachment_data = K2K201.fbx rifle_joint

hand_item_appearance grenadeLauncher_k2k201
	##type = rifle
	type = dst_rifle
	DIS_Septet_category = 32

	default_items
		item = grenadeLauncher_k2k201
		item = small_flash

	parameters
		weapon_supplemental_data = m32a1

## ROK K4 고속유탄기관총 ##############################################
shape_set grenadeLauncher_k4
	actor = greg
	object_type = weapon
	pbr_ready = 1
	filename = K4.fbx
	filename = K4.fbx
	filename = K4.fbx
	filename = K4.fbx
	filename = K4.fbx
	filename = K4.fbx
	filename = K4.fbx
	shape_attachment_data = K4.fbx rifle_joint

hand_item_appearance grenadeLauncher_k4
	##type = rifle
	type = dst_rifle
	DIS_Septet_category = 32

	default_items
		item = grenadeLauncher_k4
		item = small_flash

	parameters
		weapon_supplemental_data = m32a1


## ROK K6 중기관총 ##############################################
shape_set hmg_k6
	actor = greg
	object_type = weapon
	pbr_ready = 1
	filename = K6.fbx
	filename = K6.fbx
	filename = K6.fbx
	filename = K6.fbx
	filename = K6.fbx
	filename = K6.fbx
	filename = K6.fbx
	shape_attachment_data = K6.fbx rifle_joint

hand_item_appearance hmg_k6
	##type = rifle
	type = dst_rifle
	DIS_Septet_category = 33

	default_items
		item = hmg_k6
		item = small_flash

	parameters
		weapon_supplemental_data = m240_cctt


## ROK K14 저격소총 ##############################################
shape_set sniperRifle_K14
	actor = greg
	object_type = weapon
	pbr_ready = 1
	filename = K14.fbx
	filename = K14.fbx
	filename = K14.fbx
	filename = K14.fbx
	filename = K14.fbx
	filename = K14.fbx
	filename = K14.fbx
	shape_attachment_data = K14.fbx rifle_joint

hand_item_appearance sniperRifle_K14
	##type = rifle
	type = dst_rifle
	DIS_Septet_category = 32

	default_items
		item = sniperRifle_K14
		item = small_flash

	parameters
		weapon_supplemental_data = SR98SniperRifle

## ROK K15 기관총 ###############################################
shape_set machineGun_K15
	actor = greg
	object_type = weapon
	pbr_ready = 1
	filename = K15.fbx
	filename = K15.fbx
	filename = K15.fbx
	filename = K15.fbx
	filename = K15.fbx
	filename = K15.fbx
	filename = K15.fbx
	shape_attachment_data = K15 rifle_joint

hand_item_appearance machineGun_K15
	##type = rifle
	type = dst_rifle
	DIS_Septet_category = 32

	default_items
		item = machineGun_K15
		item = small_flash

	parameters
		weapon_supplemental_data = m16

## ROK K15_stow 기관총 ###############################################
shape_set machineGun_K15_stow
	actor = greg
	object_type = weapon
	pbr_ready = 1
	filename = K15_stow.fbx
	filename = K15_stow.fbx
	filename = K15_stow.fbx
	filename = K15_stow.fbx
	filename = K15_stow.fbx
	filename = K15_stow.fbx
	filename = K15_stow.fbx
	shape_attachment_data = K15_stow rifle_joint

hand_item_appearance machineGun_K15_stow
	##type = rifle
	type = dst_rifle
	DIS_Septet_category = 32

	default_items
		item = machineGun_K15_stow
		item = small_flash

	parameters
		weapon_supplemental_data = m16

## ROK 현궁 ##############################################
shape_set hyeonggung
	actor = greg
	object_type = weapon
	pbr_ready = 1
	filename = Hyeonggung.fbx
	filename = Hyeonggung.fbx
	filename = Hyeonggung.fbx
	filename = Hyeonggung.fbx
	filename = Hyeonggung.fbx
	filename = Hyeonggung.fbx
	filename = Hyeonggung.fbx
	shape_attachment_data = Hyeonggung.fbx rifle_joint

hand_item_appearance hyeonggung
	DIS_Septet_category = 32

	default_items
		item = hyeonggung
		item = small_rear_flash

	parameters
		weapon_supplemental_data = javelin_cctt



## ROK Enemy 68식 기관총 ##############################################
shape_set machineGun_68
	actor = greg
	object_type = weapon
	pbr_ready = 1
	filename = machineGun_68.fbx
	filename = machineGun_68.fbx
	filename = machineGun_68.fbx
	filename = machineGun_68.fbx
	filename = machineGun_68.fbx
	filename = machineGun_68.fbx
	filename = machineGun_68.fbx
	shape_attachment_data = machineGun_68.fbx rifle_joint

hand_item_appearance machineGun_68
	##type = rifle
	type = dst_rifle
	DIS_Septet_category = 32

	default_items
		item = machineGun_68
		item = small_flash

	parameters
		weapon_supplemental_data = m16


## ROK Enemy 73식 기관총 ##############################################
shape_set machineGun_73
	actor = greg
	object_type = weapon
	pbr_ready = 1
	filename = machineGun_73.fbx
	filename = machineGun_73.fbx
	filename = machineGun_73.fbx
	filename = machineGun_73.fbx
	filename = machineGun_73.fbx
	filename = machineGun_73.fbx
	filename = machineGun_73.fbx
	shape_attachment_data = machineGun_73.fbx rifle_joint

hand_item_appearance machineGun_73
	##type = rifle
	type = dst_rifle
	DIS_Septet_category = 32

	default_items
		item = machineGun_73
		item = small_flash

	parameters
		weapon_supplemental_data = m16


## ROK Enemy AK74 소총 ##############################################
shape_set rifle_ak74
	actor = greg
	object_type = weapon
	pbr_ready = 1
	filename = AK74.fbx
	filename = AK74.fbx
	filename = AK74.fbx
	filename = AK74.fbx
	filename = AK74.fbx
	filename = AK74.fbx
	filename = AK74.fbx
	shape_attachment_data = AK74.fbx rifle_joint

hand_item_appearance rifle_ak74
	##type = rifle
	type = dst_rifle
	DIS_Septet_category = 32

	default_items
		item = rifle_ak74 
		item = small_flash

	parameters
		weapon_supplemental_data = m16

## ROK Enemy RPG7 ##############################################
shape_set RPG7
	actor = greg
	object_type = weapon
	pbr_ready = 1
	filename = RPG7.fbx
	filename = RPG7.fbx
	filename = RPG7.fbx
	filename = RPG7.fbx
	filename = RPG7.fbx
	filename = RPG7.fbx
	filename = RPG7.fbx
	shape_attachment_data = RPG7.fbx rifle_joint

hand_item_appearance RPG7
	##type = rifle
	type = dst_rifle
	DIS_Septet_category = 32

	default_items
		item = RPG7
		item = small_rear_flash

	parameters
		weapon_supplemental_data = RPG7VShoulderMountedLauncher



## ROK Enemy 유탄발사기 ##############################################
shape_set grenadeLauncher
	actor = greg
	object_type = weapon
	pbr_ready = 1
	filename = grenadeLauncher.fbx
	filename = grenadeLauncher.fbx
	filename = grenadeLauncher.fbx
	filename = grenadeLauncher.fbx
	filename = grenadeLauncher.fbx
	filename = grenadeLauncher.fbx
	filename = grenadeLauncher.fbx
	shape_attachment_data = grenadeLauncher.fbx rifle_joint

hand_item_appearance grenadeLauncher
	##type = rifle
	type = dst_rifle
	DIS_Septet_category = 32

	default_items
		item = grenadeLauncher
		item = small_flash

	parameters
		weapon_supplemental_data = m32a1


## ROK Enemy K14 저격소총 ##############################################
shape_set sniperRifle
	actor = greg
	object_type = weapon
	pbr_ready = 1
	filename = sniperRifle.fbx
	filename = sniperRifle.fbx
	filename = sniperRifle.fbx
	filename = sniperRifle.fbx
	filename = sniperRifle.fbx
	filename = sniperRifle.fbx
	filename = sniperRifle.fbx
	shape_attachment_data = sniperRifle.fbx rifle_joint

hand_item_appearance sniperRifle
	##type = rifle
	type = dst_rifle
	DIS_Septet_category = 32

	default_items
		item = sniperRifle
		item = small_flash

	parameters
		weapon_supplemental_data = SR98SniperRifle

## ROK 60mm Mortar #########################################
shape_set km181_tripod

	filename = km181_tripod.fbx
	filename = km181_tripod.fbx
	filename = km181_tripod.fbx
	filename = km181_tripod.fbx
	filename = km181_tripod.fbx
	filename = km181_tripod.fbx
	filename = km181_tripod.fbx
	shape_attachment_data = km181_tripod.fbx palm_r
	##shape_attachment_data = tripod palm_r

hand_item_appearance km181_tripod
	type = mortar_tripod
	DIS_Septet_category = 32

	default_items
		item = km181_tripod


shape_set km181_cannon

	filename = km181_cannon.fbx
	filename = km181_cannon.fbx
	filename = km181_cannon.fbx
	filename = km181_cannon.fbx
	filename = km181_cannon.fbx
	filename = km181_cannon.fbx
	filename = km181_cannon.fbx
	shape_attachment_data = km181_cannon palm_r

hand_item_appearance km181_cannon
	type = mortar_cannon
	DIS_Septet_category = 32

	default_items
		item = km181_cannon


shape_set km181_base

	filename = km181_base.fbx
	filename = km181_base.fbx
	filename = km181_base.fbx
	filename = km181_base.fbx
	filename = km181_base.fbx
	filename = km181_base.fbx
	filename = km181_base.fbx
	shape_attachment_data = base palm_r

hand_item_appearance km181_base
	type = mortar_base
	DIS_Septet_category = 32

	default_items
		item = km181_base


## ROK 81mm Mortar #########################################
shape_set km187_tripod

	filename = km187_tripod.fbx
	filename = km187_tripod.fbx
	filename = km187_tripod.fbx
	filename = km187_tripod.fbx
	filename = km187_tripod.fbx
	filename = km187_tripod.fbx
	filename = km187_tripod.fbx
	##shape_attachment_data = 81mm_tripod palm_r
	shape_attachment_data = km187_tripod.fbx palm_r

hand_item_appearance km187_tripod
	type = mortar_tripod
	DIS_Septet_category = 32

	default_items
		item = km187_tripod

shape_set km187_cannon

	filename = km187_cannon.fbx
	filename = km187_cannon.fbx
	filename = km187_cannon.fbx
	filename = km187_cannon.fbx
	filename = km187_cannon.fbx
	filename = km187_cannon.fbx
	filename = km187_cannon.fbx
	shape_attachment_data = 81mm_Pole palm_r

hand_item_appearance km187_cannon
	type = mortar_cannon
	DIS_Septet_category = 32

	default_items
		item = km187_cannon


shape_set km187_base

	filename = km187_base.fbx
	filename = km187_base.fbx
	filename = km187_base.fbx
	filename = km187_base.fbx
	filename = km187_base.fbx
	filename = km187_base.fbx
	filename = km187_base.fbx
	shape_attachment_data = 81mm_Base palm_r

hand_item_appearance km187_base
	type = mortar_base
	DIS_Septet_category = 32

	default_items
		item = km187_base


shape_set handheld_GasMask

	filename = handheld_GasMask.fbx
	filename = handheld_GasMask.fbx
	filename = handheld_GasMask.fbx
	filename = handheld_GasMask.fbx
	filename = handheld_GasMask.fbx
	filename = handheld_GasMask.fbx
	filename = handheld_GasMask.fbx
	shape_attachment_data = handheld_GasMask.fbx palm_r

hand_item_appearance  handheld_GasMask
	type = tool
	DIS_Septet_category = 32

	default_items
		item =  handheld_GasMask
