## Custom Appearance ####################################################
## MAK사 기본 Handpose와 우리 Handpose 파일 따로
appearance kcl_add_custom_only
	actor = greg
	item = sk_multicam_1
	item = sk_male_white_29_head_soldier
	item = sk_ech_helmet_us_army

	item = sk_custom_hand_default_r
	item = sk_custom_hand_default_l
	item = sk_custom_hand_one_r
	item = sk_custom_hand_one_l
	item = sk_custom_hand_two_r
	item = sk_custom_hand_two_l
	item = sk_custom_hand_three_r
	item = sk_custom_hand_three_l
	item = sk_custom_hand_four_r
	item = sk_custom_hand_four_l
	item = sk_custom_hand_five_r
	item = sk_custom_hand_five_l
	item = sk_custom_hand_pinch_r
	item = sk_custom_hand_pinch_l
	item = sk_custom_hand_grip_pole_r
	item = sk_custom_hand_grip_pole_l
	item = sk_custom_hand_grip_cell_phone_r
	item = sk_custom_hand_grip_cell_phone_l
	item = sk_custom_hand_relaxed_r
	item = sk_custom_hand_relaxed_l
	item = sk_custom_hand_fist_r
	item = sk_custom_hand_fist_l
	item = sk_custom_hand_point_one_r
	item = sk_custom_hand_point_one_l
	item = sk_custom_hand_point_two_r
	item = sk_custom_hand_point_two_l
	item = sk_custom_hand_point_three_r
	item = sk_custom_hand_point_three_l
	item = sk_custom_hand_point_four_r
	item = sk_custom_hand_point_four_l
	item = sk_custom_hand_point_five_r
	item = sk_custom_hand_point_five_l
	item = sk_custom_hand_rock_on_r
	item = sk_custom_hand_rock_on_l
	item = sk_custom_hand_flat_palm_r
	item = sk_custom_hand_flat_palm_l
	item = sk_custom_hand_l_shape_r
	item = sk_custom_hand_l_shape_l
	item = sk_custom_hand_hang_loose_r
	item = sk_custom_hand_hang_loose_l
	item = sk_custom_hand_thumbs_up_r
	item = sk_custom_hand_thumbs_up_l
	item = sk_custom_hand_hold_ball_r
	item = sk_custom_hand_hold_ball_l
	item = sk_custom_hand_monkey_grip_r
	item = sk_custom_hand_monkey_grip_l
	item = sk_custom_hand_cupped_open_r
	item = sk_custom_hand_cupped_open_l
	item = sk_custom_hand_cupped_r
	item = sk_custom_hand_cupped_l
	item = sk_custom_hand_cupped_closed_r
	item = sk_custom_hand_cupped_closed_l
	item = sk_custom_hand_flashlight_on_r
	item = sk_custom_hand_flashlight_on_l
	item = sk_custom_hand_flashlight_off_r
	item = sk_custom_hand_flashlight_off_l
	item = sk_custom_hand_political_point_r
	item = sk_custom_hand_political_point_l
	item = sk_custom_hand_wedge_formation_r
	item = sk_custom_hand_wedge_formation_l
	item = sk_hand_custom_r
	item = sk_hand_custom_l
	is_skinned_appearance = 1
	character_types_data_table = available_to_soldiers
	quality_bias = 9
	appearance_map = male/adult/white/usa/army/-
	character_type_map_override = human/military/soldier
	###appearance_map = male/adult/middle_eastern/german/army/-
	###character_type_map_override = human/military/soldier

	parameters
		character_type_hand_item1 = soldier_07:M4A1Carbine
		character_type_hand_item2 = soldier_17:M4A1Carbine
		head_type = male_multicam male_large_multicam_facefx
		###character_type_hand_item1 = soldier_07:rifle_k2
		###character_type_hand_item2 = soldier_17:rifle_k2
		###graphics_state_switch_map0 = sk_multicam_1:roka_army
		###graphics_state_switch_map1 = south_test
		###graphics_state_switch_map2 = sk_male_w1_head:male_roka_head
		###graphics_state_switch_map3 = sk_felin_helmet:felin_helmet_diffuse_roka

## ## MAK사 기본 Handpose와 우리 Handpose 파일 따로
appearance kcl_add_cusom_with_default
	actor = greg
	item = sk_multicam_1
	item = sk_male_white_29_head_soldier
	item = sk_ech_helmet_us_army
	item = sk_soldier_hand_default_r
	item = sk_soldier_hand_default_l
	item = sk_soldier_hand_one_r
	item = sk_soldier_hand_one_l
	item = sk_soldier_hand_two_r
	item = sk_soldier_hand_two_l
	item = sk_soldier_hand_three_r
	item = sk_soldier_hand_three_l
	item = sk_soldier_hand_four_r
	item = sk_soldier_hand_four_l
	item = sk_soldier_hand_five_r
	item = sk_soldier_hand_five_l
	item = sk_soldier_hand_pinch_r
	item = sk_soldier_hand_pinch_l
	item = sk_soldier_hand_grip_pole_r
	item = sk_soldier_hand_grip_pole_l
	item = sk_soldier_hand_grip_cell_phone_r
	item = sk_soldier_hand_grip_cell_phone_l
	item = sk_soldier_hand_relaxed_r
	item = sk_soldier_hand_relaxed_l
	item = sk_soldier_hand_fist_r
	item = sk_soldier_hand_fist_l
	item = sk_soldier_hand_point_one_r
	item = sk_soldier_hand_point_one_l
	item = sk_soldier_hand_point_two_r
	item = sk_soldier_hand_point_two_l
	item = sk_soldier_hand_point_three_r
	item = sk_soldier_hand_point_three_l
	item = sk_soldier_hand_point_four_r
	item = sk_soldier_hand_point_four_l
	item = sk_soldier_hand_point_five_r
	item = sk_soldier_hand_point_five_l
	item = sk_soldier_hand_rock_on_r
	item = sk_soldier_hand_rock_on_l
	item = sk_soldier_hand_flat_palm_r
	item = sk_soldier_hand_flat_palm_l
	item = sk_soldier_hand_l_shape_r
	item = sk_soldier_hand_l_shape_l
	item = sk_soldier_hand_hang_loose_r
	item = sk_soldier_hand_hang_loose_l
	item = sk_soldier_hand_thumbs_up_r
	item = sk_soldier_hand_thumbs_up_l
	item = sk_soldier_hand_hold_ball_r
	item = sk_soldier_hand_hold_ball_l
	item = sk_soldier_hand_monkey_grip_r
	item = sk_soldier_hand_monkey_grip_l
	item = sk_soldier_hand_cupped_open_r
	item = sk_soldier_hand_cupped_open_l
	item = sk_soldier_hand_cupped_r
	item = sk_soldier_hand_cupped_l
	item = sk_soldier_hand_cupped_closed_r
	item = sk_soldier_hand_cupped_closed_l
	item = sk_soldier_hand_flashlight_on_r
	item = sk_soldier_hand_flashlight_on_l
	item = sk_soldier_hand_flashlight_off_r
	item = sk_soldier_hand_flashlight_off_l
	item = sk_soldier_hand_political_point_r
	item = sk_soldier_hand_political_point_l
	item = sk_soldier_hand_wedge_formation_r
	item = sk_soldier_hand_wedge_formation_l
	is_skinned_appearance = 1
	character_types_data_table = available_to_soldiers
	quality_bias = 9
	###appearance_map = male/adult/white/usa/army/-
	###character_type_map_override = human/military/soldier
	appearance_map = male/adult/middle_eastern/german/army/-
	character_type_map_override = human/military/soldier

	parameters
		###character_type_hand_item1 = soldier_07:M4A1Carbine
		###character_type_hand_item2 = soldier_17:M4A1Carbine
		###head_type = male_multicam male_large_multicam_facefx
		character_type_hand_item1 = soldier_07:rifle_k2
		character_type_hand_item2 = soldier_17:rifle_k2
		graphics_state_switch_map0 = sk_multicam_1:roka_army
		graphics_state_switch_map1 = south_test
		graphics_state_switch_map2 = sk_male_w1_head:male_roka_head
		graphics_state_switch_map3 = sk_felin_helmet:felin_helmet_diffuse_roka

## 모든 Hand Custom으로.
appearance kcl_all_custom
	actor = greg
	item = sk_multicam_1
	item = sk_male_white_29_head_soldier
	item = sk_ech_helmet_us_army
	item = sk_custom_hand_default_r
	item = sk_custom_hand_default_l
	item = sk_custom_hand_one_r
	item = sk_custom_hand_one_l
	item = sk_custom_hand_two_r
	item = sk_custom_hand_two_l
	item = sk_custom_hand_three_r
	item = sk_custom_hand_three_l
	item = sk_custom_hand_four_r
	item = sk_custom_hand_four_l
	item = sk_custom_hand_five_r
	item = sk_custom_hand_five_l
	item = sk_custom_hand_pinch_r
	item = sk_custom_hand_pinch_l
	item = sk_custom_hand_grip_pole_r
	item = sk_custom_hand_grip_pole_l
	item = sk_custom_hand_grip_cell_phone_r
	item = sk_custom_hand_grip_cell_phone_l
	item = sk_custom_hand_relaxed_r
	item = sk_custom_hand_relaxed_l
	item = sk_custom_hand_fist_r
	item = sk_custom_hand_fist_l
	item = sk_custom_hand_point_one_r
	item = sk_custom_hand_point_one_l
	item = sk_custom_hand_point_two_r
	item = sk_custom_hand_point_two_l
	item = sk_custom_hand_point_three_r
	item = sk_custom_hand_point_three_l
	item = sk_custom_hand_point_four_r
	item = sk_custom_hand_point_four_l
	item = sk_custom_hand_point_five_r
	item = sk_custom_hand_point_five_l
	item = sk_custom_hand_rock_on_r
	item = sk_custom_hand_rock_on_l
	item = sk_custom_hand_flat_palm_r
	item = sk_custom_hand_flat_palm_l
	item = sk_custom_hand_l_shape_r
	item = sk_custom_hand_l_shape_l
	item = sk_custom_hand_hang_loose_r
	item = sk_custom_hand_hang_loose_l
	item = sk_custom_hand_thumbs_up_r
	item = sk_custom_hand_thumbs_up_l
	item = sk_custom_hand_hold_ball_r
	item = sk_custom_hand_hold_ball_l
	item = sk_custom_hand_monkey_grip_r
	item = sk_custom_hand_monkey_grip_l
	item = sk_custom_hand_cupped_open_r
	item = sk_custom_hand_cupped_open_l
	item = sk_custom_hand_cupped_r
	item = sk_custom_hand_cupped_l
	item = sk_custom_hand_cupped_closed_r
	item = sk_custom_hand_cupped_closed_l
	item = sk_custom_hand_flashlight_on_r
	item = sk_custom_hand_flashlight_on_l
	item = sk_custom_hand_flashlight_off_r
	item = sk_custom_hand_flashlight_off_l
	item = sk_custom_hand_political_point_r
	item = sk_custom_hand_political_point_l
	item = sk_custom_hand_wedge_formation_r
	item = sk_custom_hand_wedge_formation_l
	is_skinned_appearance = 1
	character_types_data_table = available_to_soldiers
	quality_bias = 9
	###appearance_map = male/adult/white/usa/army/-
	###character_type_map_override = human/military/soldier
	appearance_map = male/adult/middle_eastern/german/army/-
	character_type_map_override = human/military/soldier

	parameters
		###character_type_hand_item1 = soldier_07:M4A1Carbine
		###character_type_hand_item2 = soldier_17:M4A1Carbine
		###head_type = male_multicam male_large_multicam_facefx
		character_type_hand_item1 = soldier_07:rifle_k2
		character_type_hand_item2 = soldier_17:rifle_k2
		graphics_state_switch_map0 = sk_multicam_1:roka_army
		graphics_state_switch_map1 = south_test
		graphics_state_switch_map2 = sk_male_w1_head:male_roka_head
		graphics_state_switch_map3 = sk_felin_helmet:felin_helmet_diffuse_roka
