## Custom Appearance ####################################################
appearance sk_rok_soldier
	actor = greg
	item = sk_multicam_1
	#item = sk_male_w1_head #soldier_head_asian_3_south_korea 
	item = soldier_head_asian_3_south_korea 
	item = sk_felin_helmet
	####### Hand Shape ####### 
	item = sk_rok_hand_default_r
	item = sk_rok_hand_default_l
	item = sk_rok_hand_one_r
	item = sk_rok_hand_one_l
	item = sk_rok_hand_two_r
	item = sk_rok_hand_two_l
	item = sk_rok_hand_three_r
	item = sk_rok_hand_three_l
	item = sk_rok_hand_four_r
	item = sk_rok_hand_four_l
	item = sk_rok_hand_five_r
	item = sk_rok_hand_five_l
	item = sk_rok_hand_pinch_r
	item = sk_rok_hand_pinch_l
	item = sk_rok_hand_grip_pole_r
	item = sk_rok_hand_grip_pole_l
	item = sk_rok_hand_grip_cell_phone_r
	item = sk_rok_hand_grip_cell_phone_l
	item = sk_rok_hand_relaxed_r
	item = sk_rok_hand_relaxed_l
	item = sk_rok_hand_fist_r
	item = sk_rok_hand_fist_l
	item = sk_rok_hand_point_one_r
	item = sk_rok_hand_point_one_l
	item = sk_rok_hand_point_two_r
	item = sk_rok_hand_point_two_l
	item = sk_rok_hand_point_three_r
	item = sk_rok_hand_point_three_l
	item = sk_rok_hand_point_four_r
	item = sk_rok_hand_point_four_l
	item = sk_rok_hand_point_five_r
	item = sk_rok_hand_point_five_l
	item = sk_rok_hand_rock_on_r
	item = sk_rok_hand_rock_on_l
	item = sk_rok_hand_flat_palm_r
	item = sk_rok_hand_flat_palm_l
	item = sk_rok_hand_l_shape_r
	item = sk_rok_hand_l_shape_l
	item = sk_rok_hand_hang_loose_r
	item = sk_rok_hand_hang_loose_l
	item = sk_rok_hand_thumbs_up_r
	item = sk_rok_hand_thumbs_up_l
	item = sk_rok_hand_hold_ball_r
	item = sk_rok_hand_hold_ball_l
	item = sk_rok_hand_monkey_grip_r
	item = sk_rok_hand_monkey_grip_l
	item = sk_rok_hand_cupped_open_r
	item = sk_rok_hand_cupped_open_l
	item = sk_rok_hand_cupped_r
	item = sk_rok_hand_cupped_l
	item = sk_rok_hand_cupped_closed_r
	item = sk_rok_hand_cupped_closed_l
	item = sk_rok_hand_flashlight_on_r
	item = sk_rok_hand_flashlight_on_l
	item = sk_rok_hand_flashlight_off_r
	item = sk_rok_hand_flashlight_off_l
	item = sk_rok_hand_political_point_r
	item = sk_rok_hand_political_point_l
	item = sk_rok_hand_wedge_formation_r
	item = sk_rok_hand_wedge_formation_l
	item = rok_GasMask_Bag

	is_skinned_appearance = 1
	character_types_data_table = available_to_soldiers
	quality_bias = 9
	appearance_map = male/adult/white/usa/army/-
	character_type_map_override = human/military/soldier

	parameters
		character_type_hand_item1 = soldier_07:custom_rifle
		character_type_hand_item2 = soldier_17:custom_rifle
		hand_item_class = ROK_hand_items
		graphics_state_switch_map0 = sk_multicam_1:roka_army##MultiCam_test
		graphics_state_switch_map1 = south_test
		graphics_state_switch_map2 = sk_male_w1_head:male_rok_head
		graphics_state_switch_map3 = sk_felin_helmet:felin_helmet_diffuse_roka
		head_type = soldier_head_asian_south_korea


appearance sk_roka_soldier
	actor = greg
	item = sk_multicam_1
	item = sk_male_w1_head #soldier_head_asian_3_south_korea 
	item = sk_felin_helmet
	####### Hand Shape ####### 
	item = sk_rok_hand_default_r
	item = sk_rok_hand_default_l
	item = sk_rok_hand_one_r
	item = sk_rok_hand_one_l
	item = sk_rok_hand_two_r
	item = sk_rok_hand_two_l
	item = sk_rok_hand_three_r
	item = sk_rok_hand_three_l
	item = sk_rok_hand_four_r
	item = sk_rok_hand_four_l
	item = sk_rok_hand_five_r
	item = sk_rok_hand_five_l
	item = sk_rok_hand_pinch_r
	item = sk_rok_hand_pinch_l
	item = sk_rok_hand_grip_pole_r
	item = sk_rok_hand_grip_pole_l
	item = sk_rok_hand_grip_cell_phone_r
	item = sk_rok_hand_grip_cell_phone_l
	item = sk_rok_hand_relaxed_r
	item = sk_rok_hand_relaxed_l
	item = sk_rok_hand_fist_r
	item = sk_rok_hand_fist_l
	item = sk_rok_hand_point_one_r
	item = sk_rok_hand_point_one_l
	item = sk_rok_hand_point_two_r
	item = sk_rok_hand_point_two_l
	item = sk_rok_hand_point_three_r
	item = sk_rok_hand_point_three_l
	item = sk_rok_hand_point_four_r
	item = sk_rok_hand_point_four_l
	item = sk_rok_hand_point_five_r
	item = sk_rok_hand_point_five_l
	item = sk_rok_hand_rock_on_r
	item = sk_rok_hand_rock_on_l
	item = sk_rok_hand_flat_palm_r
	item = sk_rok_hand_flat_palm_l
	item = sk_rok_hand_l_shape_r
	item = sk_rok_hand_l_shape_l
	item = sk_rok_hand_hang_loose_r
	item = sk_rok_hand_hang_loose_l
	item = sk_rok_hand_thumbs_up_r
	item = sk_rok_hand_thumbs_up_l
	item = sk_rok_hand_hold_ball_r
	item = sk_rok_hand_hold_ball_l
	item = sk_rok_hand_monkey_grip_r
	item = sk_rok_hand_monkey_grip_l
	item = sk_rok_hand_cupped_open_r
	item = sk_rok_hand_cupped_open_l
	item = sk_rok_hand_cupped_r
	item = sk_rok_hand_cupped_l
	item = sk_rok_hand_cupped_closed_r
	item = sk_rok_hand_cupped_closed_l
	item = sk_rok_hand_flashlight_on_r
	item = sk_rok_hand_flashlight_on_l
	item = sk_rok_hand_flashlight_off_r
	item = sk_rok_hand_flashlight_off_l
	item = sk_rok_hand_political_point_r
	item = sk_rok_hand_political_point_l
	item = sk_rok_hand_wedge_formation_r
	item = sk_rok_hand_wedge_formation_l
	item = rok_GasMask_Bag

	is_skinned_appearance = 1
	character_types_data_table = available_to_soldiers
	quality_bias = 9
	appearance_map = male/adult/middle_eastern/german/army/-
	character_type_map_override = human/military/soldier

	parameters
		character_type_hand_item1 = soldier_07:rifle_k2
		character_type_hand_item2 = soldier_17:rifle_k2
		hand_item_class = ROK_hand_items
		graphics_state_switch_map0 = sk_multicam_1:roka_army
		graphics_state_switch_map1 = south_test
		graphics_state_switch_map2 = sk_male_w1_head:male_roka_head
		graphics_state_switch_map3 = sk_felin_helmet:felin_helmet_diffuse_roka


appearance sk_rokn_soldier
	actor = greg
	item = sk_multicam_1
	item = sk_male_w1_head #soldier_head_asian_3_south_korea 
	item = sk_felin_helmet
	####### Hand Shape ####### 
	item = sk_rok_hand_default_r
	item = sk_rok_hand_default_l
	item = sk_rok_hand_one_r
	item = sk_rok_hand_one_l
	item = sk_rok_hand_two_r
	item = sk_rok_hand_two_l
	item = sk_rok_hand_three_r
	item = sk_rok_hand_three_l
	item = sk_rok_hand_four_r
	item = sk_rok_hand_four_l
	item = sk_rok_hand_five_r
	item = sk_rok_hand_five_l
	item = sk_rok_hand_pinch_r
	item = sk_rok_hand_pinch_l
	item = sk_rok_hand_grip_pole_r
	item = sk_rok_hand_grip_pole_l
	item = sk_rok_hand_grip_cell_phone_r
	item = sk_rok_hand_grip_cell_phone_l
	item = sk_rok_hand_relaxed_r
	item = sk_rok_hand_relaxed_l
	item = sk_rok_hand_fist_r
	item = sk_rok_hand_fist_l
	item = sk_rok_hand_point_one_r
	item = sk_rok_hand_point_one_l
	item = sk_rok_hand_point_two_r
	item = sk_rok_hand_point_two_l
	item = sk_rok_hand_point_three_r
	item = sk_rok_hand_point_three_l
	item = sk_rok_hand_point_four_r
	item = sk_rok_hand_point_four_l
	item = sk_rok_hand_point_five_r
	item = sk_rok_hand_point_five_l
	item = sk_rok_hand_rock_on_r
	item = sk_rok_hand_rock_on_l
	item = sk_rok_hand_flat_palm_r
	item = sk_rok_hand_flat_palm_l
	item = sk_rok_hand_l_shape_r
	item = sk_rok_hand_l_shape_l
	item = sk_rok_hand_hang_loose_r
	item = sk_rok_hand_hang_loose_l
	item = sk_rok_hand_thumbs_up_r
	item = sk_rok_hand_thumbs_up_l
	item = sk_rok_hand_hold_ball_r
	item = sk_rok_hand_hold_ball_l
	item = sk_rok_hand_monkey_grip_r
	item = sk_rok_hand_monkey_grip_l
	item = sk_rok_hand_cupped_open_r
	item = sk_rok_hand_cupped_open_l
	item = sk_rok_hand_cupped_r
	item = sk_rok_hand_cupped_l
	item = sk_rok_hand_cupped_closed_r
	item = sk_rok_hand_cupped_closed_l
	item = sk_rok_hand_flashlight_on_r
	item = sk_rok_hand_flashlight_on_l
	item = sk_rok_hand_flashlight_off_r
	item = sk_rok_hand_flashlight_off_l
	item = sk_rok_hand_political_point_r
	item = sk_rok_hand_political_point_l
	item = sk_rok_hand_wedge_formation_r
	item = sk_rok_hand_wedge_formation_l
	item = rok_GasMask_Bag

	is_skinned_appearance = 1
	character_types_data_table = available_to_soldiers
	quality_bias = 9
	appearance_map = male/adult/middle_eastern/german/army/-
	character_type_map_override = human/military/soldier

	parameters
		character_type_hand_item1 = soldier_07:rifle_k2
		character_type_hand_item2 = soldier_17:rifle_k2
		hand_item_class = ROK_hand_items
		graphics_state_switch_map0 = sk_multicam_1:rokn_marine
		graphics_state_switch_map1 = south_test
		graphics_state_switch_map2 = sk_male_w1_head:male_rokn_head
		graphics_state_switch_map3 = sk_felin_helmet:felin_helmet_diffuse_rokn


## ROK Variation ##

appearance sk_roka_soldier_with_stowedk2
	base_appearance = sk_roka_soldier
	item = stowedK2
	item = rok_GasMask_Bag

	parameters
		character_type_hand_item1 = soldier_07:no_weapon
		character_type_hand_item2 = soldier_17:no_weapon
		hand_item_class = ROK_hand_items
		graphics_state_switch_map0 = sk_multicam_1:roka_army
		graphics_state_switch_map1 = south_test
		graphics_state_switch_map2 = sk_male_w1_head:male_roka_head
		graphics_state_switch_map3 = sk_felin_helmet:felin_helmet_diffuse_roka

appearance sk_roka_soldier_with_stowedk2_gasmask
	base_appearance = sk_roka_soldier
	item = stowedK2
	item = rok_GasMask
	item = rok_GasMask_Bag

	parameters
		character_type_hand_item1 = soldier_07:no_weapon
		character_type_hand_item2 = soldier_17:no_weapon
		hand_item_class = ROK_hand_items
		graphics_state_switch_map0 = sk_multicam_1:roka_army
		graphics_state_switch_map1 = south_test
		graphics_state_switch_map2 = sk_male_w1_head:male_roka_head
		graphics_state_switch_map3 = sk_felin_helmet:felin_helmet_diffuse_roka

appearance sk_rokn_soldier_with_stowedk2
	base_appearance = sk_rokn_soldier
	item = stowedK2
	item = rok_GasMask_Bag

	parameters
		character_type_hand_item1 = soldier_07:no_weapon
		character_type_hand_item2 = soldier_17:no_weapon
		hand_item_class = ROK_hand_items
		graphics_state_switch_map0 = sk_multicam_1:rokn_marine
		graphics_state_switch_map1 = south_test
		graphics_state_switch_map2 = sk_male_w1_head:male_rokn_head
		graphics_state_switch_map3 = sk_felin_helmet:felin_helmet_diffuse_rokn

appearance sk_rokn_soldier_with_stowedk2_gasmask
	base_appearance = sk_rokn_soldier
	item = stowedK2
	item = rok_GasMask
	item = rok_GasMask_Bag

	parameters
		character_type_hand_item1 = soldier_07:no_weapon
		character_type_hand_item2 = soldier_17:no_weapon
		hand_item_class = ROK_hand_items
		graphics_state_switch_map0 = sk_multicam_1:rokn_marine
		graphics_state_switch_map1 = south_test
		graphics_state_switch_map2 = sk_male_w1_head:male_rokn_head
		graphics_state_switch_map3 = sk_felin_helmet:felin_helmet_diffuse_rokn

appearance sk_roka_soldier_with_Backpack
	base_appearance = sk_roka_soldier
	item = rok_Backpack
	item = rok_GasMask_Bag

	parameters
		character_type_hand_item1 = soldier_07:rifle_k2
		character_type_hand_item2 = soldier_17:rifle_k2
		hand_item_class = ROK_hand_items
		graphics_state_switch_map0 = sk_multicam_1:roka_army
		graphics_state_switch_map1 = south_test
		graphics_state_switch_map2 = sk_male_w1_head:male_roka_head
		graphics_state_switch_map3 = sk_felin_helmet:felin_helmet_diffuse_roka

appearance sk_roka_soldier_with_Backpack_gasmask
	base_appearance = sk_roka_soldier
	item = rok_Backpack
	item = rok_GasMask
	item = rok_GasMask_Bag

	parameters
		character_type_hand_item1 = soldier_07:rifle_k2
		character_type_hand_item2 = soldier_17:rifle_k2
		hand_item_class = ROK_hand_items
		graphics_state_switch_map0 = sk_multicam_1:roka_army
		graphics_state_switch_map1 = south_test
		graphics_state_switch_map2 = sk_male_w1_head:male_roka_head
		graphics_state_switch_map3 = sk_felin_helmet:felin_helmet_diffuse_roka

appearance sk_rokn_soldier_with_Backpack
	base_appearance = sk_rokn_soldier
	item = rok_Backpack
	item = rok_GasMask_Bag

	parameters
		character_type_hand_item1 = soldier_07:rifle_k2
		character_type_hand_item2 = soldier_17:rifle_k2
		hand_item_class = ROK_hand_items
		graphics_state_switch_map0 = sk_multicam_1:rokn_marine
		graphics_state_switch_map1 = south_test
		graphics_state_switch_map2 = sk_male_w1_head:male_rokn_head
		graphics_state_switch_map3 = sk_felin_helmet:felin_helmet_diffuse_rokn

appearance sk_rokn_soldier_with_Backpack_gasmask
	base_appearance = sk_rokn_soldier
	item = rok_Backpack
	item = rok_GasMask
	item = rok_GasMask_Bag

	parameters
		character_type_hand_item1 = soldier_07:rifle_k2
		character_type_hand_item2 = soldier_17:rifle_k2
		hand_item_class = ROK_hand_items
		graphics_state_switch_map0 = sk_multicam_1:rokn_marine
		graphics_state_switch_map1 = south_test
		graphics_state_switch_map2 = sk_male_w1_head:male_rokn_head
		graphics_state_switch_map3 = sk_felin_helmet:felin_helmet_diffuse_rokn

appearance sk_roka_soldier_with_prc999k
	base_appearance = sk_roka_soldier
	item = prc999k
	item = rok_GasMask_Bag

	parameters
		character_type_hand_item1 = soldier_07:rifle_k2
		character_type_hand_item2 = soldier_17:rifle_k2
		hand_item_class = ROK_hand_items
		graphics_state_switch_map0 = sk_multicam_1:roka_army
		graphics_state_switch_map1 = south_test
		graphics_state_switch_map2 = sk_male_w1_head:male_roka_head
		graphics_state_switch_map3 = sk_felin_helmet:felin_helmet_diffuse_roka

appearance sk_roka_soldier_with_prc999k_gasmask
	base_appearance = sk_roka_soldier
	item = prc999k
	item = rok_GasMask
	item = rok_GasMask_Bag

	parameters
		character_type_hand_item1 = soldier_07:rifle_k2
		character_type_hand_item2 = soldier_17:rifle_k2
		hand_item_class = ROK_hand_items
		graphics_state_switch_map0 = sk_multicam_1:roka_army
		graphics_state_switch_map1 = south_test
		graphics_state_switch_map2 = sk_male_w1_head:male_roka_head
		graphics_state_switch_map3 = sk_felin_helmet:felin_helmet_diffuse_roka

appearance sk_rokn_soldier_with_prc999k
	base_appearance = sk_rokn_soldier
	item = prc999k
	item = rok_GasMask_Bag

	parameters
		character_type_hand_item1 = soldier_07:rifle_k2
		character_type_hand_item2 = soldier_17:rifle_k2
		hand_item_class = ROK_hand_items
		graphics_state_switch_map0 = sk_multicam_1:rokn_marine
		graphics_state_switch_map1 = south_test
		graphics_state_switch_map2 = sk_male_w1_head:male_rokn_head
		graphics_state_switch_map3 = sk_felin_helmet:felin_helmet_diffuse_rokn

appearance sk_rokn_soldier_with_prc999k_gasmask
	base_appearance = sk_rokn_soldier
	item = prc999k
	item = rok_GasMask
	item = rok_GasMask_Bag

	parameters
		character_type_hand_item1 = soldier_07:rifle_k2
		character_type_hand_item2 = soldier_17:rifle_k2
		hand_item_class = ROK_hand_items
		graphics_state_switch_map0 = sk_multicam_1:rokn_marine
		graphics_state_switch_map1 = south_test
		graphics_state_switch_map2 = sk_male_w1_head:male_rokn_head
		graphics_state_switch_map3 = sk_felin_helmet:felin_helmet_diffuse_rokn

appearance sk_roka_soldier_with_gasmask
	base_appearance = sk_roka_soldier
	item = rok_GasMask
	item = rok_GasMask_Bag

	parameters
		character_type_hand_item1 = soldier_07:rifle_k2
		character_type_hand_item2 = soldier_17:rifle_k2
		hand_item_class = ROK_hand_items
		graphics_state_switch_map0 = sk_multicam_1:roka_army
		graphics_state_switch_map1 = south_test
		graphics_state_switch_map2 = sk_male_w1_head:male_roka_head
		graphics_state_switch_map3 = sk_felin_helmet:felin_helmet_diffuse_roka


appearance sk_rokn_soldier_with_gasmask
	base_appearance = sk_rokn_soldier
	item = rok_GasMask
	item = rok_GasMask_Bag

	parameters
		character_type_hand_item1 = soldier_07:rifle_k2
		character_type_hand_item2 = soldier_17:rifle_k2
		hand_item_class = ROK_hand_items
		graphics_state_switch_map0 = sk_multicam_1:rokn_marine
		graphics_state_switch_map1 = south_test
		graphics_state_switch_map2 = sk_male_w1_head:male_rokn_head
		graphics_state_switch_map3 = sk_felin_helmet:felin_helmet_diffuse_rokn


head_appearance soldier_rok_head_1
	item = soldier_rok_head_1

	parameters
		graphics_state_switch_map1 = sk_male_w1_hands:male_w1_head
		graphics_state_switch_map2 = sk_male_casual_1_hands_hold_cup:male_a1_head
		graphics_state_switch_map3 = sk_male_casual_1_hands_trigger:male_a1_head
		graphics_state_switch_map4 = sk_male_casual_1_hands_hammer_grip:male_a1_head
		head_type = soldier_head_asian_south_korea
