## 0 : default

gesture dst_hand_0_l
	category = dst

	gesture_type = progression
	progression_stage1 = dst_hand_0_l
	num_channels = 1
	weighted_variable = 1.000000 hand_model_l
	character_type = all
	character_type = soldier_17

	motion_arc dst_hand_0_l
		datafile = dst_hand_0_l.bdm
		actor = greg
		tin = 0
		tout = 10.02
		travel_direction_overall = none
		facing_direction_tin = inherit
		facing_direction_tout = inherit


gesture dst_hand_0_r
	category = dst

	gesture_type = progression
	progression_stage1 = dst_hand_0_r
	num_channels = 1
	weighted_variable = 1.000000 hand_model_r
	character_type = all
	character_type = soldier_17

	motion_arc dst_hand_0_r
		datafile = dst_hand_0_r.bdm
		actor = greg
		tin = 0
		tout = 10.02
		travel_direction_overall = none
		facing_direction_tin = inherit
		facing_direction_tout = inherit


## 1

gesture dst_hand_1_l
	category = dst

	gesture_type = progression
	progression_stage1 = dst_hand_1_l
	num_channels = 1
	weighted_variable = 1.000000 hand_model_l
	character_type = all
	character_type = soldier_17

	motion_arc dst_hand_1_l
		datafile = dst_hand_1_l.bdm
		actor = greg
		tin = 0
		tout = 10.02
		travel_direction_overall = none
		facing_direction_tin = inherit
		facing_direction_tout = inherit


gesture dst_hand_1_r
	category = dst

	gesture_type = progression
	progression_stage1 = dst_hand_1_r
	num_channels = 1
	weighted_variable = 1.000000 hand_model_r
	character_type = all
	character_type = soldier_17

	motion_arc dst_hand_1_r
		datafile = dst_hand_1_r.bdm
		actor = greg
		tin = 0
		tout = 10.02
		travel_direction_overall = none
		facing_direction_tin = inherit
		facing_direction_tout = inherit

## 2


gesture dst_hand_2_l
	category = dst

	gesture_type = progression
	progression_stage1 = dst_hand_2_l
	num_channels = 1
	weighted_variable = 1.000000 hand_model_l
	character_type = all
	character_type = soldier_17

	motion_arc dst_hand_2_l
		datafile = dst_hand_2_l.bdm
		actor = greg
		tin = 0
		tout = 10.02
		travel_direction_overall = none
		facing_direction_tin = inherit
		facing_direction_tout = inherit


gesture dst_hand_2_r
	category = dst

	gesture_type = progression
	progression_stage1 = dst_hand_2_r
	num_channels = 1
	weighted_variable = 1.000000 hand_model_r
	character_type = all
	character_type = soldier_17

	motion_arc dst_hand_2_r
		datafile = dst_hand_2_r.bdm
		actor = greg
		tin = 0
		tout = 10.02
		travel_direction_overall = none
		facing_direction_tin = inherit
		facing_direction_tout = inherit

## 3

gesture dst_hand_3_l
	category = dst

	gesture_type = progression
	progression_stage1 = dst_hand_3_l
	num_channels = 1
	weighted_variable = 1.000000 hand_model_l
	character_type = all
	character_type = soldier_17

	motion_arc dst_hand_3_l
		datafile = dst_hand_3_l.bdm
		actor = greg
		tin = 0
		tout = 10.02
		travel_direction_overall = none
		facing_direction_tin = inherit
		facing_direction_tout = inherit


gesture dst_hand_3_r
	category = dst

	gesture_type = progression
	progression_stage1 = dst_hand_3_r
	num_channels = 1
	weighted_variable = 1.000000 hand_model_r
	character_type = all
	character_type = soldier_17

	motion_arc dst_hand_3_r
		datafile = dst_hand_3_r.bdm
		actor = greg
		tin = 0
		tout = 10.02
		travel_direction_overall = none
		facing_direction_tin = inherit
		facing_direction_tout = inherit

## 4
gesture dst_hand_4_l
	category = dst

	gesture_type = progression
	progression_stage1 = dst_hand_4_l
	num_channels = 1
	weighted_variable = 1.000000 hand_model_l
	character_type = all
	character_type = soldier_17

	motion_arc dst_hand_4_l
		datafile = dst_hand_4_l.bdm
		actor = greg
		tin = 0
		tout = 10.02
		travel_direction_overall = none
		facing_direction_tin = inherit
		facing_direction_tout = inherit


gesture dst_hand_4_r
	category = dst

	gesture_type = progression
	progression_stage1 = dst_hand_4_r
	num_channels = 1
	weighted_variable = 1.000000 hand_model_r
	character_type = all
	character_type = soldier_17

	motion_arc dst_hand_4_r
		datafile = dst_hand_4_r.bdm
		actor = greg
		tin = 0
		tout = 10.02
		travel_direction_overall = none
		facing_direction_tin = inherit
		facing_direction_tout = inherit

## 5

gesture dst_hand_5_l
	category = dst

	gesture_type = progression
	progression_stage1 = dst_hand_5_l
	num_channels = 1
	weighted_variable = 1.000000 hand_model_l
	character_type = all
	character_type = soldier_17

	motion_arc dst_hand_5_l
		datafile = dst_hand_5_l.bdm
		actor = greg
		tin = 0
		tout = 10.02
		travel_direction_overall = none
		facing_direction_tin = inherit
		facing_direction_tout = inherit


gesture dst_hand_5_r
	category = dst

	gesture_type = progression
	progression_stage1 = dst_hand_5_r
	num_channels = 1
	weighted_variable = 1.000000 hand_model_r
	character_type = all
	character_type = soldier_17

	motion_arc dst_hand_5_r
		datafile = dst_hand_5_r.bdm
		actor = greg
		tin = 0
		tout = 10.02
		travel_direction_overall = none
		facing_direction_tin = inherit
		facing_direction_tout = inherit


## 6

gesture dst_hand_6_l
	category = dst

	gesture_type = progression
	progression_stage1 = dst_hand_6_l
	num_channels = 1
	weighted_variable = 1.000000 hand_model_l
	character_type = all
	character_type = soldier_17

	motion_arc dst_hand_6_l
		datafile = dst_hand_6_l.bdm
		actor = greg
		tin = 0
		tout = 10.02
		travel_direction_overall = none
		facing_direction_tin = inherit
		facing_direction_tout = inherit


gesture dst_hand_6_r
	category = dst

	gesture_type = progression
	progression_stage1 = dst_hand_6_r
	num_channels = 1
	weighted_variable = 1.000000 hand_model_r
	character_type = all
	character_type = soldier_17

	motion_arc dst_hand_6_r
		datafile = dst_hand_6_r.bdm
		actor = greg
		tin = 0
		tout = 10.02
		travel_direction_overall = none
		facing_direction_tin = inherit
		facing_direction_tout = inherit

## 7
gesture dst_hand_7_l
	category = dst

	gesture_type = progression
	progression_stage1 = dst_hand_7_l
	num_channels = 1
	weighted_variable = 1.000000 hand_model_l
	character_type = all
	character_type = soldier_17

	motion_arc dst_hand_7_l
		datafile = dst_hand_7_l.bdm
		actor = greg
		tin = 0
		tout = 10.02
		travel_direction_overall = none
		facing_direction_tin = inherit
		facing_direction_tout = inherit


gesture dst_hand_7_r
	category = dst

	gesture_type = progression
	progression_stage1 = dst_hand_7_r
	num_channels = 1
	weighted_variable = 1.000000 hand_model_r
	character_type = all
	character_type = soldier_17

	motion_arc dst_hand_7_r
		datafile = dst_hand_7_r.bdm
		actor = greg
		tin = 0
		tout = 10.02
		travel_direction_overall = none
		facing_direction_tin = inherit
		facing_direction_tout = inherit

## 8
gesture dst_hand_8_l
	category = dst

	gesture_type = progression
	progression_stage1 = dst_hand_8_l
	num_channels = 1
	weighted_variable = 1.000000 hand_model_l
	character_type = all
	character_type = soldier_17

	motion_arc dst_hand_8_l
		datafile = dst_hand_8_l.bdm
		actor = greg
		tin = 0
		tout = 10.02
		travel_direction_overall = none
		facing_direction_tin = inherit
		facing_direction_tout = inherit


gesture dst_hand_8_r
	category = dst

	gesture_type = progression
	progression_stage1 = dst_hand_8_r
	num_channels = 1
	weighted_variable = 1.000000 hand_model_r
	character_type = all
	character_type = soldier_17

	motion_arc dst_hand_8_r
		datafile = dst_hand_8_r.bdm
		actor = greg
		tin = 0
		tout = 10.02
		travel_direction_overall = none
		facing_direction_tin = inherit
		facing_direction_tout = inherit


## 9
gesture dst_hand_9_l
	category = dst

	gesture_type = progression
	progression_stage1 = dst_hand_9_l
	num_channels = 1
	weighted_variable = 1.000000 hand_model_l
	character_type = all
	character_type = soldier_17

	motion_arc dst_hand_9_l
		datafile = dst_hand_9_l.bdm
		actor = greg
		tin = 0
		tout = 10.02
		travel_direction_overall = none
		facing_direction_tin = inherit
		facing_direction_tout = inherit


gesture dst_hand_9_r
	category = dst

	gesture_type = progression
	progression_stage1 = dst_hand_9_r
	num_channels = 1
	weighted_variable = 1.000000 hand_model_r
	character_type = all
	character_type = soldier_17

	motion_arc dst_hand_9_r
		datafile = dst_hand_9_r.bdm
		actor = greg
		tin = 0
		tout = 10.02
		travel_direction_overall = none
		facing_direction_tin = inherit
		facing_direction_tout = inherit


## 10
gesture dst_hand_10_l
	category = dst

	gesture_type = progression
	progression_stage1 = dst_hand_10_l
	num_channels = 1
	weighted_variable = 1.000000 hand_model_l
	character_type = all
	character_type = soldier_17

	motion_arc dst_hand_10_l
		datafile = dst_hand_10_l.bdm
		actor = greg
		tin = 0
		tout = 10.02
		travel_direction_overall = none
		facing_direction_tin = inherit
		facing_direction_tout = inherit


gesture dst_hand_10_r
	category = dst

	gesture_type = progression
	progression_stage1 = dst_hand_10_r
	num_channels = 1
	weighted_variable = 1.000000 hand_model_r
	character_type = all
	character_type = soldier_17

	motion_arc dst_hand_10_r
		datafile = dst_hand_10_r.bdm
		actor = greg
		tin = 0
		tout = 10.02
		travel_direction_overall = none
		facing_direction_tin = inherit
		facing_direction_tout = inherit


## 11
gesture dst_hand_11_l
	category = dst

	gesture_type = progression
	progression_stage1 = dst_hand_11_l
	num_channels = 1
	weighted_variable = 1.000000 hand_model_l
	character_type = all
	character_type = soldier_17

	motion_arc dst_hand_11_l
		datafile = dst_hand_11_l.bdm
		actor = greg
		tin = 0
		tout = 10.02
		travel_direction_overall = none
		facing_direction_tin = inherit
		facing_direction_tout = inherit


gesture dst_hand_11_r
	category = dst

	gesture_type = progression
	progression_stage1 = dst_hand_11_r
	num_channels = 1
	weighted_variable = 1.000000 hand_model_r
	character_type = all
	character_type = soldier_17

	motion_arc dst_hand_11_r
		datafile = dst_hand_11_r.bdm
		actor = greg
		tin = 0
		tout = 10.02
		travel_direction_overall = none
		facing_direction_tin = inherit
		facing_direction_tout = inherit

## 12
gesture dst_hand_12_l
	category = dst

	gesture_type = progression
	progression_stage1 = dst_hand_12_l
	num_channels = 1
	weighted_variable = 1.000000 hand_model_l
	character_type = all
	character_type = soldier_17

	motion_arc dst_hand_12_l
		datafile = dst_hand_12_l.bdm
		actor = greg
		tin = 0
		tout = 10.02
		travel_direction_overall = none
		facing_direction_tin = inherit
		facing_direction_tout = inherit


gesture dst_hand_12_r
	category = dst

	gesture_type = progression
	progression_stage1 = dst_hand_12_r
	num_channels = 1
	weighted_variable = 1.000000 hand_model_r
	character_type = all
	character_type = soldier_17

	motion_arc dst_hand_12_r
		datafile = dst_hand_12_r.bdm
		actor = greg
		tin = 0
		tout = 10.02
		travel_direction_overall = none
		facing_direction_tin = inherit
		facing_direction_tout = inherit